.contactContainer {
  background-color: rgba(75, 142, 196, 0.7) !important;
  height: 85vh;
}

.contact {
  margin: 20px;
}

.contact input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
