.contactContainer {
  background-color: rgba(30, 30, 30, 1) !important;
  height: 85vh;
  color: rgba(252, 252, 252, 0.692);
  padding-left: 10px;
}

.contact {
  margin: 20px;
}

.contact input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
